[Unit]
Description=hoymiles-ms-a2-to-mqtt daemon
Wants=network-online.target
After=network-online.target

[Service]
#DynamicUser=yes
User=USERNAME
Type=simple
WorkingDirectory=/opt/hoymiles-ms-a2-to-mqtt
ExecStart=/opt/hoymiles-ms-a2-to-mqtt/.venv/bin/python /opt/hoymiles-ms-a2-to-mqtt/hoymiles-ms-a2-to-mqtt.py
SyslogIdentifier=hoymiles-ms-a2-to-mqtt
Environment=PYTHONUNBUFFERED=1
RemainAfterExit=no
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
